::ng-deep .ng-select .ng-select-container {
    padding: 0px;
}

.ng-placeholder {
    display: inline-block;
}

.ng-select-focused {
    .ng-placeholder {
        display: none;
    }
}

.ng-has-value {
    .ng-placeholder {
        display: none;
    }
}

.select {
    margin-top: -10px;
}

